body{
    display:flex;
}
aside{
    flex-grow: 1;
}
.container{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 3fr 2fr;
}
h1{
    grid-column: 1/-1;
    justify-content: center;
    display: flex;
}
.links{
    font-family: Montserrat;
    grid-column: 1/-1;
    justify-content: end;
    display: flex;
    gap: 10px;
    padding-right: 15px;
}
.topButtons{
    grid-column: 1/-1;
    justify-content: space-between;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
}
#note{
    grid-column: 1/-1;
    margin: 15px 5px;
}
.title{
    font-family: Montserrat;
}
