body{
    display:flex;
}
aside{
    flex-grow: 1;
    background-color: #FAF4EC;
}
.container{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    background-color: #F3E9DE;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 5fr 1fr;
}
h1{
    grid-column: 1/-1;
    justify-content: center;
    display: flex;
}
.links{
    font-family: Montserrat;
    grid-column: 1/-1;
    justify-content: end;
    display: flex;
    gap: 10px;
    padding-right: 15px;
}
.links a{
    text-decoration: none;
    color:#256993;
    font-weight:bold;
}
.topButtons{
    grid-column: 1/-1;
    justify-content: space-between;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
}
#note{
    grid-column: 1/-1;
    margin: 15px 5px;
    border-radius: 3px;
    border-color: cornflowerblue;
    border-width: 2px;
    background-color: #FAF4EC;
}
.textAreaButtons{
    grid-column: 1/-1;
    justify-content: end;
    display: flex;
    gap: 10px;
    padding-right: 15px;
}
.title{
    font-family: Montserrat;
    color:#256993;
    font-weight: bold;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
h3{
    display:flex;
    grid-column: 1/-1;
    justify-content: center;
}
footer a:first-of-type{
    display: flex;
    justify-content: end;
}
#cancel{
    background-color: #9B332C;
}
#save{
    background-color:#375F68;
}
#newNote{
    background-color: #375F68;
}
#darkTheme{
    background-color: #56536A;
}
button{
    color:white;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 90%;
}