html{
    height:100%;
}
body{
    display:flex;
    height: 100%;
    margin: 0;
    flex-direction: column;
}
aside{
    flex-grow: 1;
    background-color: #FAF4EC;
}
.container{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    background-color: #F3E9DE;
    justify-content: space-between;
    min-height: 0;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 5fr 1fr;
    min-height:0;
}
h1{
    grid-column: 1/-1;
    justify-content: center;
    display: flex;
    font-size: 1.5em;
}
nav{
    font-family: Montserrat;
    grid-column: 1/-1;
    justify-content: end;
    display: flex;
    gap: 0.5em;
    padding-right: 1em;
}
nav a{
    text-decoration: none;
    color:#256993;
    font-weight:bold;
}
.topButtons{
    grid-column: 1/-1;
    justify-content: space-between;
    display: flex;
    padding-right: 1em;
    padding-left: 1em;
}
#note{
    grid-column: 1/-1;
    margin: 1.5em 1em;
    border-radius: 0.3em;
    border-color: cornflowerblue;
    border-width: 0.2em;
    background-color: #FAF4EC;
}
.textAreaButtons{
    grid-column: 1/-1;
    justify-content: end;
    display: flex;
    gap: 1em;
    padding-right: 1.5em;
}
.title{
    font-family: Montserrat;
    color:#256993;
    font-weight: bold;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
h3{
    display:flex;
    grid-column: 1/-1;
    justify-content: center;
}
footer a:first-of-type{
    display: flex;
    justify-content: end;
}
#cancel{
    background-color: #9B332C;
}
#save{
    background-color:#375F68;
}
#newNote{
    background-color: #375F68;
}
#darkTheme{
    background-color: #56536A;
}
button{
    color:white;
    border-radius: 0.7em;
    border-style: none;
    padding-left: 1em;
    padding-right: 1em;
    max-height: 95%;
}
h2{
    display:flex;
    justify-content: center;
}
li{
    font-family: Montserrat;
    color:#256993;
    font-weight: bold;
}
.blackBG{
    background-color:black;
}
.whiteFont{
    color: white;
}
.greyBG{
    background-color: #1B1C27;
}
#note.greyBG{
    background-color: #1B1C27;
    color: white;
}
#darkTheme.goldBG{
    background-color: #CCA43B;
    color:black;
}
#note.greyBG::placeholder{
    /* background-color: grey; */
    color:white;
}
@media screen and (min-width: 600px)
{
    body{
        flex-direction:row;
    }
}
@media screen and (min-width: 280px)
{
    h1{
        font-size: 2m;
    }
}
img{
    height: 3em;
    width:3em;
}